extends layout

block content
  style.
    .status-good {
      font-weight: bold;
      color: green;
    }
    .status-bad {
      font-weight: bold;
      color: indianred;
    }
    .status-error {
      font-weight: bold;
      color: red;
    }

  h1 #{title}

  .container
  for val in callbackStatusList
    .row
      .col-md-1.text-right.my-auto
        if val.lastUpdate
          if val.lastUpdate.statusCode===200
            span
              i.fas.fa-3x.fa-check-circle.status-good
          else if val.lastUpdate.requestFailure
            span
              i.fas.fa-3x.fa-skull.status-error
          else
            span
              i.fas.fa-3x.fa-times-circle.status-bad
        else
          span
            i.fas.fa-3x.fa-question-circle.text-muted
        span &nbsp;
      .col
        .row
          .col
            span.font-weight-bold #{val.name}&nbsp;
            span.font-italic (#{val.description})&nbsp;
        .row
          .col-md.text-muted
            if val.lastUpdate && !val.lastUpdate.requestFailure
              span
                i.fas.fa-clock &nbsp;
                | updated: #{val.lastUpdate.timestamp.toLocaleString().split(' ')[1]}
              span &nbsp;&nbsp;
              span
                i.fas.fa-stopwatch &nbsp;
                | #{val.lastUpdate.latencyInMs}ms&nbsp;
              span &nbsp;&nbsp;
              span
                i.fas.fa-weight-hanging &nbsp;
                | #{val.lastUpdate.size}&nbsp;
    .row &nbsp;
